
#main-section {
    background: url('../Images_Brazuca/background-menu5.jpg');
    background-size: 100%;
}

/* background-image  */
.sectie-1-background-image {
    background-image: url('../Images_Brazuca/AdobeStock_190814566_Preview.jpeg');
    /* background-image: url('../Images_Brazuca/fullsizeoutput_9e.jpeg'); */
    background-size: 100% 100%;
}

.Tagerina-coffee-section-3 {
    background-image: url('../Images_Brazuca/AdobeStock_187914996_Preview.jpeg');
    /* background-image: url('../Images_Brazuca/fullsizeoutput_9e.jpeg'); */
    background-size: 100% 100%;
}

/* COFFEE PAGE */
.Coffee-infographic-image {
    background-image: url('../Images_Brazuca/production-infograph.png');
    background-size: 100% 100%;
}

/* image mobiel */
.sectie-1-image-mobile {
    display: none;
}

/* HTML -image  */
img {
    width: 100%;
    vertical-align: sub;
}

/* --- SECTION CLASSES --- */
.section-1 {
    width: 100%;
    height: 600px;
    position: static;
}

.section-2 {
    min-width: 400px;
    height: 350px;
}

/* --- HOMEPAGE IMAGES --- */
.image-home-1 {
    background: url('../Images_Brazuca/Home-section1full.jpg') fixed;
    background-size: 100% 100%;
}

/* --- WINKELS IMAGES --- */
.image-rijnstraat-1 {
    background: url('../Images_Brazuca/Home-section1full.jpg') fixed;
    background-size: 100% 100%;
}

.image-ferdinand-1 {
    background: url('../Images_Brazuca/Home-section1full.jpg') fixed;
    background-size: 100% 100%;
}

.image-markthal-1 {
    background: url('../Images_Brazuca/Home-section1full.jpg') fixed;
    background-size: 100% 100%;
}

/* --- WINKELS OVERZICHT IMAGES --- */
.image-winkels-1 {
    background: url('../Images_Brazuca/Brazuca-rotterdamfull2.jpg') fixed;
    background-size: 100% 100%;
}

/* --- FRUIT OVERZICHT IMAGES */
.image-fruitsappen-1 {
    background: url('../Images_Brazuca/fruitsappen-overzichtfull.jpg') fixed;
    background-size: 100% 100%;
}

/* --- FULL COFFEE IMAGES --- */
.image-coffee-1 {
    background: url('../Images_Brazuca/cafetorrado.jpg') fixed;
    background-size: 100%;
}

.image-coffee-2 {
    background: url('../Images_Brazuca/Coffee-mok.jpg');
    background-size: 100% 100%;
}

.image-coffee-3 {
    background: url('../Images_Brazuca/Coffee-full-beans.jpg');
    background-size: 100% 100%;
    color: white;
}
.image-coffee-4 {
    background: url('../Images_Brazuca/Coffee-section3fulltab.jpg');
    background-size: 100% 100%;
}


/* --- FULL AÇAI-BOWL IMAGES --- */
.image-açaibowl-1 {
    background: url('../Images_Brazuca/Bowl-background.jpg') fixed;
    background-size: 100%;
}

.image-açaibowl-2 {
    background: url('../Images_Brazuca/Bowl-side.jpg');
    background-size: 100% 100%;
}

.image-açaibowl-3 {
    background: url('../Images_Brazuca/bowl-section.jpg');
}

/* --- FULL BITES IMAGES --- */
.image-bites-1 {
    background: url('../Images_Brazuca/bites-background2-full.jpg') fixed;
    background-size: 100% 100%;
}

.image-bites-2 {
    /* background: url('../Images_Brazuca/bites-side.jpg'); */
  background: url('../Images_Brazuca/Bites-sidenew.jpg');

    background-size: 100% 100%;
}

.image-bites-3 {
    background: url('../Images_Brazuca/bites-section-full.jpg');
    background-size: 100% 100%;
}

/* --- FULL ANANAS IMAGES --- */
.image-ananas-1 {
    background: url('../Images_Brazuca/ananas-background-full.jpg') fixed;
    background-size: 100% 100%;
}

.image-ananas-2 {
    background: url('../Images_Brazuca/ananas-side.jpg');
    background-size: 100% 100%;
}

.image-ananas-3 {
    background: url('../Images_Brazuca/ananas-section.jpg');
    background-size: 100% 100%;
}
/* --- FULL Acerola- IMAGES --- */

.image-Acerola-1 {
    /* background: url('../Images_Brazuca/ananas-background-full.jpg'); */
    /* background: url('../Images_Brazuca/AdobeStock_108675061_Preview.jpeg'); */
    background: url('../Images_Brazuca/Acerola-section1full.jpg') fixed;

    background-size: 100% 100%;
}

.image-Acerola-2 {
    /* background: url('../Images_Brazuca/AdobeStock_47292506_Preview.jpeg'); */
    /* background: url('../Images_Brazuca/AdobeStock_18200184_Preview-2.jpeg'); */

    /* background: url('../Images_Brazuca/AdobeStock_169298321_Preview.jpeg'); */
    background: url('../Images_Brazuca/Acerola-side.jpg');
    background-size: 100% 100%;
}

.image-Acerola-3 {
    background: url('../Images_Brazuca/Acerola-section3full.jpg');
    background-size: 100% 100%;
}
/* --- FULL Passievrucht- IMAGES --- */

.image-Passievrucht-1 {
    /* background: url('../Images_Brazuca/AdobeStock_113600392_Preview.jpeg'); */
    background: url('../Images_Brazuca/passievrucht-fullsection1.jpg') fixed;
    background-size: 100% 100%;
}

.image-Passievrucht-2 {
    background: url('../Images_Brazuca/Passievrucht-side.jpg');
    background-size: 100% 100%;
}

.image-Passievrucht-3 {
    background: url('../Images_Brazuca/passievrucht-section3.jpg');
    /* background: url('../Images_Brazuca/AdobeStock_87314774_Preview-2.jpeg'); */
    /* background: url('../Images_Brazuca/AdobeStock_120468472_Preview.jpeg'); */
    background-size: 100% 100%;
}

/* --- FULL  acai --- */
.image-acai-1 {

    background-size: 100% 100%;
    /* background: url('../Images_Brazuca/AdobeStock_64337763_Preview.jpeg'); */
    /* background: url('../Images_Brazuca/AdobeStock_141898566_Preview.jpeg'); */
    background: url('../Images_Brazuca/Acai-section1full.jpg') fixed;
    /* background: url('../Images_Brazuca/AdobeStock_177195566_Preview.jpeg'); */
    /* background: url('../Images_Brazuca/AdobeStock_177195566_Preview.jpeg'); */
    /* background: url('../Images_Brazuca/AdobeStock_177195627_Preview.jpeg'); */
    /* background: url('../Images_Brazuca/AdobeStock_98091910_Preview.jpeg'); */
}

.image-Acia-2 {
    background: url('../Images_Brazuca/Acai-side.jpg');
    /* background: url('../Images_Brazuca/ananas-side.jpg'); */
    background-size: 100% 100%;
    /* background: url('../Images_Brazuca/AdobeStock_69294625_Preview.jpeg'); */
    /* background: url('../Images_Brazuca/AdobeStock_69872223_Preview.jpeg'); */
    /* background: url('../Images_Brazuca/AdobeStock_79508403_Preview.jpeg'); */
    /* background: url('../Images_Brazuca/AdobeStock_79508403_Preview.jpeg'); */
    /* background: url('../Images_Brazuca/AdobeStock_120547256_Preview.jpeg'); */
}

.image-Acia-3 {
    /* background: url('../Images_Brazuca/ananas-section.jpg'); */
    background-size: 100% 100%;
    /* background: url('../Images_Brazuca/ananas-background-full.jpg'); */
    /* background-size: 100% 100%; */
    background: url('../Images_Brazuca/Acai-section3-full.jpg');
    /* background: url('../Images_Brazuca/AdobeStock_98091910_Preview.jpeg'); */
}

.image-Mango-1 {
    /* background: url('../Images_Brazuca/ananas-background-full.jpg'); */
    /* background-size: 100% 100%; */
    /* background: url('../Images_Brazuca/AdobeStock_64337763_Preview.jpeg'); */

    background: url('../Images_Brazuca/Mango-full.jpg') fixed;
    background-size: 100% 100%;
}

.image-Mango-2 {
    /* background: url('../Images_Brazuca/AdobeStock_102409764_Preview.jpeg'); */
      /* background: url('../Images_Brazuca/AdobeStock_51810245_Preview.jpeg'); */
        background: url('../Images_Brazuca/Mango-side.jpg');


    /* background: url('../Images_Brazuca/ananas-side.jpg'); */
    background-size: 100% 100%;
}

.image-Mango-3 {
    /* background: url('../Images_Brazuca/ananas-section.jpg'); */
    background-size: 100% 100%;
    /* background: url('../Images_Brazuca/ananas-background-full.jpg'); */
    /* background-size: 100% 100%; */
    background: url('../Images_Brazuca/Mango-section-3.jpg');
    /* background: url('../Images_Brazuca/AdobeStock_98091910_Preview.jpeg'); */
}






/* --- TABLET --- */
@media (max-width: 1024px) {

    /* --- HOMEPAGE IMAGES --- */
    .image-home-1 {
        background: url('../Images_Brazuca/Home-section1tablet.jpg');
        background-size: 100% 100%;
    }

    /* --- TABLET COFFEE IMAGES --- */
    .image-coffee-1 {
        background: url('../Images_Brazuca/cafetorrado-tablet.jpg');
        background-size: 100%;
    }

    .image-coffee-3 {
        background: url('../Images_Brazuca/Coffeebeans-tablet.jpg');
        background-size: 100% 100%;
    }

    /* ---  --- */
    .image-fruitsappen-1 {
        background: url('../Images_Brazuca/fruitsappenoverzicht-tablet.jpg');
        background-size: 100% 100%;
    }

    /* ---  --- */
    .image-winkels-1 {
        background: url('../Images_Brazuca/Brazuca-rotterdam-tablet.jpg');
        background-size: 100% 100%;
    }

    /* --- TABLET WINKELS IMAGES --- */
    .image-rijnstraat-1 {
        background: url('../Images_Brazuca/Home-section1tablet.jpg');
        background-size: 100%;
    }

    .image-ferdinand-1 {
        background: url('../Images_Brazuca/Home-section1tablet.jpg');
        background-size: 100%;
    }

    .image-markthal-1 {
        background: url('../Images_Brazuca/Home-section1tablet.jpg');
        background-size: 100%;
    }

    /* --- TABLET ACAI-BOWL IMAGES --- */
    .image-açaibowl-1 {
        background: url('../Images_Brazuca/Bowl-background-tablet.jpg');
        background-size: 100%;
    }

    .image-açaibowl-3 {
        background: url('../Images_Brazuca/bowl-section-tablet.jpg');
    }

    /* --- TABLET BITES IMAGES --- */
    .image-bites-1 {
        background: url('../Images_Brazuca/bites-background-full-tablet.jpg');
        background-size: 100% 100%;
    }

    .image-bites-3 {
        background: url('../Images_Brazuca/bites-section.jpg');
        background-size: 100% 100%;
    }
    /* --- TABLET ANANAS IMAGES --- */
    .image-ananas-1 {
        background: url('../Images_Brazuca/ananas-background-tablet.jpg');
        background-size: 100% 100%;
    }

    /* --- TABLET MANGO IMAGES --- */
    .image-Mango-1 {
        background: url('../Images_Brazuca/Mango-tablet.jpg');
        background-size: 100% 100%;
    }

    .image-Mango-3 {
        background: url('../Images_Brazuca/Mango-section-3-tablet.jpg');
        background-size: 100% 100%;
    }

    /* --- --- */
    .image-Acerola-1 {
        background: url('../Images_Brazuca/Acerola-section1tablet.jpg');
        background-size: 100% 100%;
    }

    .image-Acerola-3 {
        background: url('../Images_Brazuca/Acerola-section3tablet.jpg');
        background-size: 100%;
    }

    /* --- TABLET PASSIEVRUCHT IMAGES --- */
    .image-Passievrucht-1 {
        background: url('../Images_Brazuca/passievrucht-tabletsection1.jpg');
        background-size: 100% 100%;
    }
    .image-Passievrucht-3 {
        background: url('../Images_Brazuca/pasievrucht-section3-tablet.jpg');
        background-size: 100%;
    }
}

/* --- MOBILE --- */
@media (max-width: 600px) {

    /* --- HOMEPAGE IMAGES --- */
    .image-home-1 {
        background: url('../Images_Brazuca/home-section1mobile.jpg');
        background-size: 100% 100%;
    }

    /* --- MOBILE COFFEE IMAGES --- */
    .image-coffee-1 {
        background: url('../Images_Brazuca/cafetorrado-mobile.jpg');
        background-size: 100% 100%;
    }

    .image-coffee-3 {
        background: url('../Images_Brazuca/coffee-beans-mobile.jpg');
        background-size: 100% 100%;
    }

    /* ---  --- */
    .image-fruitsappen-1 {
        background: url('../Images_Brazuca/fruistappenoverzicht-mobile.jpg');
        background-size: 100% 100%;
    }

    /* ---  --- */
    .image-winkels-1 {
        background: url('../Images_Brazuca/Brazuca-rotterdam-mobile.jpg');
        background-size: 100% 100%;
    }

    /* --- MOBILE WINKELS IMAGES --- */
    .image-rijnstraat-1 {
        background: url('../Images_Brazuca/home-section1mobile.jpg');
        background-size: 100% 100%;
    }

    .image-ferdinand-1 {
        background: url('../Images_Brazuca/home-section1mobile.jpg');
        background-size: 100% 100%;
    }

    .image-markthal-1 {
        background: url('../Images_Brazuca/home-section1mobile.jpg');
        background-size: 100% 100%;
    }

    /* ---  --- */
    .image-açaibowl-1 {
        background: url('../Images_Brazuca/Bowl-background-mobile.jpg');
        background-size: 100% 100%;
    }

    /* ---  --- */
    .image-bites-1 {
        background: url('../Images_Brazuca/bites-background-mobile.jpg');
        background-size: 100% 100%;
    }
    .image-bites-3 {
        background: url('../Images_Brazuca/bites-section-mobile.jpg');
    }
    /* ---  --- */
    .image-ananas-1 {
        background: url('../Images_Brazuca/ananas-background-mobile.jpg');
        background-size: 100% 100%;
    }

    /* ---  --- */
    .image-Passievrucht-1 {
        background: url('../Images_Brazuca/passievrucht-mobilesection1.jpg');
        background-size: 100% 100%;
    }
    .image-Passievrucht-3 {
        background: url('../Images_Brazuca/passievrucht-section3mobile.jpg');
        background-size: 100% 100%;
    }

    /* ---  --- */
    .image-Acerola-1 {
        background: url('../Images_Brazuca/Acerola-section1mobile.jpg');
        background-size: 100% 100%;
    }

    .image-Acerola-3 {
        background: url('../Images_Brazuca/Acerola-section3mobile.jpg');
        background-size: 100% 100%;
    }

    /* ---  --- */
    .image-Mango-1 {
        background: url('../Images_Brazuca/mango-mobile.jpg');
        background-size: 100% 100%;
    }

    .image-Mango-3 {
        background: url('../Images_Brazuca/Mango-section-3-mobile.jpg');
    }

}



/* --- EXTRA --- */
@media (max-width: 701px) {
    .section-2 {
        min-width: 0;
        height: 0;
}

}
@media (max-width: 797px) {
    .sectie-1-image-section {
        flex: 0;
        min-height: 0;
        height: 0;
        min-width: 0;
        width: 0;
    }
}

.img-home-wrapper {
    width: 100%;
}

.img-home-wrapper img {
    /* width: 70%; */
    width: 100%;
    height: auto;
    max-width: 100px;
    margin: auto;

}

.home-img{
width: 300px;
height: auto;

}

.header-home-page{
  text-align: center;
}


@media (min-width: 500px) {

  .home-img{
    display: none;
  }




}

@media (min-width: 700px) {
    .header-home-page {
        text-align: left;
    }
}