/* ------------------------- Start of Menu  ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.nav-container {
    /* height: 115px; */
    width: 100%;
    position: static;

    /* color: green; */
    /* background-color: green; */
    /* background-size: 100% auto; */
    background-repeat: no-repeat;
    /* z-index: 0; */

    /* display: flex; */
    /* justify-content: center; */

    /* background-image:url('../Images_Brazuca/AdobeStock_96488629_Preview.svg'); */
    /* background-image:url('../Images_Brazuca/AdobeStock_106058463_Preview.jpeg'); */
    /* background-image:url('../Images_Brazuca/AdobeStock_117000784_Preview.jpg'); */
    /* background:url('../Images_Brazuca/AdobeStock_76901866_Preview.svg'); */
   /* background-image:url('../Images_Brazuca/background-footer.jpg'); */
    /* background-repeat: no-repeat; */
/* background:url('../Images_Brazuca/Blackandwhite1.jpg'); */
/* background:url('../Images_Brazuca/blackandwhite3.jpg'); */
/* background:url('../Images_Brazuca/Blackandwhite2.jpg'); */
/* background:url('../Images_Brazuca/Achtergrond-winkeloverzicht.jpg'); */
/* background:url('../Images_Brazuca/blackandwhite4.jpg'); */
/* background:url('../Images_Brazuca/AdobeStock_76901866_Preview.svg'); */
/* background: url('../Images_Brazuca/Achtergrond-winkeloverzicht.jpg') ; */
/* background:url('../Images_Brazuca/AdobeStock_70282519_Preview.jpeg'); */
/* background:url('../Images_Brazuca/AdobeStock_62323313_Preview.jpeg'); */


/* border: 30px solid white; */



   /* border-top: 2px solid white; */
   /* border-bottom: 2px solid black; */
}


.fixed {
    top: 0;
    /* margin-top: 14px; */
    border-bottom:  3px solid black;
    border-top:  1px solid white;
/* border-image: url('../Images_Brazuca/blackandwhite4.jpg') 10 round; */
/* border-image: url('../Images_Brazuca/blackandwhite1.jpg') 10 round; */
/* border-image: url('../Images_Brazuca/blackandwhite2.jpg') 10 round; */
/* border-image: url('../Images_Brazuca/blackandwhite3.jpg') 90 round; */
/* border-image: url('../Images_Brazuca/AdobeStock_71524819_Preview.png') 90 round; */
/* border-image: url('../Images_Brazuca/AdobeStock_71524819_Preview.png') 90 round; */
/* border-image: url('../Images_Brazuca/AdobeStock_71524819_Preview.png') 90 round; */
/* border-image: url('../Images_Brazuca/AdobeStock_71524819_Preview.png') 90 round; */
/* border-image: url('../Images_Brazuca/Achtergrond-winkeloverzicht.jpg') 90 round; */
background-color: rgba(255, 255, 255, 0);
    /* align-self: center; */
/* -webkit-border-image: url('../Images_Brazuca/AdobeStock_71524819_Preview.png') 10 round; */

/* -webkit-border-image: url('../Images_Brazuca/AdobeStock_71524819_Preview.png') 10 round; */
/* -webkit-border-image: url('../Images_Brazuca/AdobeStock_71524819_Preview.png') 10 round; */
/* -webkit-border-image: url('../Images_Brazuca/Achtergrond-winkeloverzicht.jpg') 60 round; */
/* -webkit-border-image: url('../Images_Brazuca/AdobeStock_113871409_Preview.jpeg') 3 round; */
/* -webkit-border-image: url('../Images_Brazuca/AdobeStock_104616357_Preview.jpeg') 10 round; */
-webkit-border-image: url('../Images_Brazuca/AdobeStock_73850054_Preview.jpeg') 10 ;


/* -webkit-border-image: url('../Images_Brazuca/Blackandwhite1.jpg') 80 round; */
/* -webkit-border-image: url('../Images_Brazuca/Achtergrond-winkeloverzicht.jpg') 60 round; */
/* AdobeStock_113871409_Preview.jpeg
Blackandwhite1.jpg */


/* border-image: url('../Images_Brazuca/AdobeStock_71524819_Preview.png') 10 round; */
/* border-image: url('../Images_Brazuca/AdobeStock_71524819_Preview.png') 90 round; */
/* border-image: url('../Images_Brazuca/AdobeStock_71524819_Preview.png') 90 round; */
/* border-image: url('../Images_Brazuca/AdobeStock_71524819_Preview.png') 90 round; */
/* border-image: url('../Images_Brazuca/Achtergrond-winkeloverzicht.jpg') 90 round; */
    /* background: #6CAD5B; */
    /* background: #78B971; */
    /* background: rgba(65, 159, 94, 0.42); */
    /* background: rgba(#427a48, 0.99); */
    /* background: rgba(229, 232, 240, 0.15);*/
    /* background: rgba(229, 232, 240, 0.05); */
    /* background: rgba(229, 232, 240, 0.05); */
    /* background: rgba(36, 92, 31, 0.80); */

    /* background: rgba(10, 99, 1, 0.4); */
    /* background: rgba(250, 246, 244, 0.98); */
}
nav ul {
    font-variant-caps: titling-caps;
    font-size: 17px;
    font-family: 'BenguiatGothic bold', sans-serif;
}

/* nav ul#menu-tweede-menu li a{

} */

.verandering ul#menu-tweede-menu li a {
    color: black;
}

.hamburger {
    width: 60px;
    height: 40px;

    text-align: center;

    padding-top: 55px;
    padding-bottom: 5px;
    padding-right: 20px;
}

.nav-images, .nav-images-white {
    /* display: flex; */
    /* justify-content: center; */
    /* width: 300px; */
    /* margin-right: 100px; */
}

nav.fixed, nav.fixed-white {
    position: fixed;
    top: 0;
    z-index: 6;
    /* z-index: 3; */
    justify-content: space-around;

    /* border-bottom:  2px solid; */

    /* position: static; */




    /* background: white; */
    /* background-size: 100% auto; */
    /* background-repeat: no-repeat; */

     /* border-top: 20px solid transparent; */
    /* border-bottom: 20px solid transparent; */
    /* border-bottom: 20px solid black; */


    /* Safari 3.1-5 */
     /* -o-border-image: url('../Images_Brazuca/AdobeStock_71524819_Preview.png') 30 round; */
    /* Opera 11-12.1 */
    /* border-image: url('../Images_Brazuca/AdobeStock_71524819_Preview.png') 30 round; */
    /* -webkit-border-image: url('../Images_Brazuca/AdobeStock_76901866_Preview.svg') 30 round; */
    /* Safari 3.1-5  */
    /* -o-border-image: url('../Images_Brazuca/AdobeStock_76901866_Preview.svg') 30 round; */
    /* Opera 11-12.1  */
    /* border-image: url('../Images_Brazuca/AdobeStock_76901866_Preview.svg') 30 round; */
    /* -webkit-border-image: url('../Images_Brazuca/AdobeStock_96488629_Preview.svg') 10 round; */
    /* Safari 3.1-5  */
    /* -o-border-image: url('../Images_Brazuca/AdobeStock_96488629_Preview.svg') 10 round; */
    /* Opera 11-12.1  */
    /* border-image: url('../Images_Brazuca/AdobeStock_96488629_Preview.svg') 10 round; */


}



.verandering, .verandering-2 {
    margin-top: 0;
    border-top: 0;
    border-bottom:  2px solid black;
    /* background: rgba(246, 247, 242, 100); */
    /* background: rgba(246, 247, 242, 100); */
    color: black;
    border-image: none;
    background: rgba(255, 255, 255, 100);
    background-color: rgba(255, 255, 255, 100);
    border-image: none;
    background-image: none;

}




.verandering-2 {
    /* background: rgba(250, 246, 244, 0.98); */
}

.woocommerce-breadcrumb, .page-numbers {
    background-color: white;
    color: grey;
    border: none;
}

nav ul li {
    list-style: none;
}

nav ul li:hover {
    /* background-color: rgba(20, 137, 212, 1); */
    /* background-color: #00CCFF; */
    /* background-color: #00CCFF; */
    /* background-color: white; */
    /* background-color: rgb(9, 155, 237); */
    /* color: white; */
}

nav ul li a {
    width: 100%;
    padding: 20px 0;
    display: block;

    /* font-variant: small-caps; */
    text-decoration: none;
    /* color: lightgrey; */
    /* color: white; */
    color: darkgrey;
}

nav ul li a:hover {
    /* padding-top: 5px; */
    /* background-position: left; */
    /* padding-bottom:5px; */
}

nav ul#menu-tweede-menu li a {
    /* color: grey; */
    color: black;
    /* color: rgba(255, 255, 255, 0.94); */
}

nav ul#menu-tweede-menu li  ul.sub-menu li a {
    padding-top: 10px;
    padding-bottom:15px;
    color: black;
    font-size: 16px;
    /* color: white; */
}

nav ul#menu-tweede-menu li  ul.sub-menu li a:hover {
    color: black;
    /* color: white; */
    /* font-size: 18px; */
    /* font-weight: 600; */

    border-bottom: 1px solid darkgreen;
    /* border-top: 2px solid darkgreen;  */
}

/* nav ul#menu-nieuw li a {
    color: lightgrey;
} */

/* In de query voor mobiel      border: 15px #00CCFF solid; weg halen naar 1 px;*/
ul.sub-menu {
    /* background: #00CCFF; */
    /* background: darkgreen; */
    /* background: #316811; */
    /* background: #F7EA00; */
    /* background: #1C89EB; */
    background-color: white;

    border-radius: 1px;
    border: 10px black solid;

/* border-image: url(); */

   /* -webkit-border-image: url('../Images_Brazuca/AdobeStock_71524819_Preview.png') 30 round; */
border-image: url('../Images_Brazuca/AdobeStock_71524819_Preview.png') 30 round;

    /* color: white; */
    color: black;
    top: 81px;
    /* top: 85px; */
    /* color: white; */
    /* padding: 10px; */
    /* background-image: url('../Images/AdobeStock_108255154_Preview.jpeg');  */
    /* background-image: url('../Images/AdobeStock_82304012_Preview-3.jpeg'); */
    visibility: visible;
}

ul.sub-menu li {
    /* color: black; */
    /* background: #00CCFF; */
    border: 0px white solid;
}

/* ul.sub-menu{
  color: white;
} */

nav ul li{
    position: relative;
    flex:1 0 auto;
    text-align: center;
    padding-top: 10px;
}
nav ul li:hover{
    position: relative;
    flex:1 0 auto;

    /* text-align: left; */
    /* font-weight: bolder; */
    text-decoration: underline;

    /* border-bottom: 4px solid black; */
    /* padding-top: 0px; */
    /* padding-left: 20px; */
}

/* -------------------------  End of Menu  ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* -------------------------  media query  ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* -------------------------  Start  of mobile  menu ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


@media only screen and (max-width:480px) {

    /*Afhankelijk van het aantal dropdowns onderstaande classes bewerken,
    - Het gaat om of sub items van menu's wel of niet vetertoon worden
    -Eerste class is de combinatie van 2 en 3. */
    .logo {
        width: 122px;
        /* width: 130px; */
        /* width: 244px; */
        height: 64px;
        /* height: 128px; */
        /* height: 25px !important; */

        text-align: center;
        vertical-align: middle;
        align-self: flex-end;

        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 15px;

        margin-left: auto;
    }
nav{width: 100%};


    .hamburger {
        padding-top: 23px;
    }

    nav ul {
        display: none;
    }

    nav ul, nav ul .menu-item-has-children ul li {
        display: none;
    }

    .menu-item-407 {
        display: flex;
    }

    nav ul li {
        text-align: justify;
        padding-left: 20px;

        border-bottom: 1px solid green;
    }

    ul.sub-menu {
        border: none;
        display: none;
    }

    /* .menu-item-has-children ul li a{
        padding-left:2rem;
    }
    .menu-item-has-children ul .menu-item-has-children ul a {
        padding-left: 3rem;
    } */
    /* .arrow-down::after{
        content: "\f107";
    } */
    .nav-images, .nav-images-white {
        width: 100vw;
        display: flex;
        justify-content: space-around;
        flex-direction: row-reverse;
    }
}


/* -------------------------  Start of Menu 480px+  ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* -------------------------  Start of menu query 480px+  ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width:480px) {
    .hamburger {
        display: none;
    }

    .logo {
        width: 122px;
        /* width: 109.8px;
        /* width: 244px */
        /* width: 130px;
        /* width:  115.9px; */
        height: 64px;
        /* height: 60.8px; */
        /* height: 57.6px; */
        /* height: 128px; */
        /* height: 25px !important; */

        text-align: center;
        vertical-align: middle;
        align-content: center;

        padding-top: 12px;
        padding-right: 45px;
        padding-bottom: 10px;
    }

    nav {
        width: 100%;
        flex-direction: row-reverse;
        display: flex;
    }

    nav ul#menu-tweede-menu {
        display: flex;
        flex-direction: row;
        /* background-color: white; */
        width: 70%;
        margin-right: auto;
        /* align-content: flex-end; */
        /* justify-content: space-between; */
        padding-top: 30;
        position: relative;
    }


  nav ul#menu-tweede-menu{
  top:80;
  }


    .menu-item-has-children ul, .menu-item-has-children ul .menu-item-has-children ul {
        /*display: flex;
        flex-direction: column;*/
        display: none;
        width: 100%;
        position: absolute;
    }

    .menu-item-has-children ul .menu-item-has-children ul {
        left: 100%;
        top: 0;
    }

    nav ul li:hover ul, .menu-item-has-children ul .menu-item-has-children:hover ul {
        display: flex;
        flex-direction: column;
    }
}

/* ------------------------- End of Menu 480px + ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* -------------------------  End of menu query 480px+ ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width:880px) {
  .hamburger {
display: block
}
.hamburger {
display: block
}
nav ul#menu-tweede-menu {
    display: none;
    flex-direction: row;
    /* background-color: white; */
    /* width: 70%; */
    /* margin-right: auto; */
    /* align-content: flex-end; */
    /* justify-content: space-between; */
    /* padding-top: 6px; */
}
/*Afhankelijk van het aantal dropdowns onderstaande classes bewerken,
- Het gaat om of sub items van menu's wel of niet vetertoon worden
-Eerste class is de combinatie van 2 en 3. */
.logo {
    width: 122px;
    /* width: 130px; */
    /* width: 244px; */
    height: 64px;
    /* height: 128px; */
    /* height: 25px !important; */

    text-align: center;
    vertical-align: middle;
    align-self: flex-end;

    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 15px;

    margin-left: auto;
}

.hamburger {
    padding-top: 23px;
    padding-left: 40px;
}

nav ul {
    display: none;
}

nav ul, nav ul .menu-item-has-children ul li {
    display: none;
}

.menu-item-407 {
    display: flex;
}

nav ul li {
    text-align: justify;
    padding-left: 20px;

    border-bottom: 1px solid green;
}

ul.sub-menu {
    border: none;
    display: none;
}

/* .menu-item-has-children ul li a{
    padding-left:2rem;
}
.menu-item-has-children ul .menu-item-has-children ul a {
    padding-left: 3rem;
} */
/* .arrow-down::after{
    content: "\f107";
} */
.nav-images, .nav-images-white {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
}
/* width: 100vw;
display: flex; */






@media only screen and (max-width:880px) {
    nav ul#menu-tweede-menu {
        width: 100%;
        flex: nowrap
    }

    nav {
        width: 100%;
        flex-direction: column;
        display: flex;
    }


}

@media only screen and (max-width:880px) {
    nav ul#menu-tweede-menu {
        width: 100%;
        flex: nowrap
    }
nav ul#menu-tweede-menu{
  max-width: 70%:
}

}
