/* GENERAL */

.flex-active {
    display: flex;
}

/* ADVERTISEMENTS */

.advertisements {
    width: 90%;
    margin: auto;
    max-width: 1200px;
}

.row-reverse {
    flex-direction: row-reverse;
}

.referal-advertisement-div {
    background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/0kjHIH6/videoblocks-vector-art-deco-pattern-background_ba87pomzw_thumbnail-full01.png');
    background-size: cover;
}

.referal-advertisement {
    display: flex;
    width: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.98), rgb(243, 243, 243));
    color: #1a9736;
    flex-wrap: wrap;
}

.picture-background {
    color: white;
    background: url('../Images_Brazuca/AdobeStock_53780294_Preview.jpeg');
}

.referal-advertisement .picture {
    flex: 1;
}

.referal-advertisement .content {
    flex: 2;
    min-width: 300px;
    display: flex;
    flex-direction: column;
}

.referal-advertisement .content .title {
    background: #1a9736;
    padding-left: 20px;
    color: white;
}

.referal-advertisement .content .summary {
    flex: 1;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.referal-advertisement .content .summary-extra {
    padding: 45px 30px;
}
.referal-advertisement .content .summary-extra p {
    text-align: center;
}

.referal-advertisement .content .hyperlink {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0 25px 0;
}

.referal-advertisement .content .hyperlink-center {
    display: flex;
    justify-content: center;
    padding: 10px 0 25px 0;
}

.referal-advertisement .content .hyperlink-center a.button {
    text-align: center;
}

a.button {
    color: #ffffff;
    background: #1a9736;
    border: none;
    text-align: left;
    font-size: 22px;
    font-variant-caps: all-small-caps;
    padding: 15px;
    flex-basis: 50%;
    text-decoration: none;
}

a.button:hover {
    background: #D8C476;
    color: white;
}

.picture img {
    min-width: 350px;
    min-height: 325px;
    height: 350px;
}

@media (max-width: 890px) {
    .referal-advertisement .content .hyperlink a {
        flex-basis: 80%;
        text-align: center;
        padding: 10px 0 10px 0;
    }
    .advertisements {
        width: 95%;
    }
}

@media (max-width: 480px) {
    .advertisements {
        width: 100%;
    }

    .referal-advertisement {
        text-align: center;
    }

    .referal-advertisement .content .hyperlink a {
        flex-basis: 100%;
        text-align: center;
    }

    .picture img {
        min-width: 300px;
    }
}


/* MULTIPLE ITEMS */

.multiple-items-standard-container {
    background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/0kjHIH6/videoblocks-vector-art-deco-pattern-background_ba87pomzw_thumbnail-full01.png');
    background-size: cover;
}

.multiple-items-standard {
    padding: 20px 0;
    background: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.98), rgb(255, 255, 255));
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.item-standard {
    width: 475px;
    margin: 15px;
    background: rgb(4, 98, 33);
    color: white;
    text-align: center;
}

.item-standard:hover img {
    filter: grayscale(0%);
}

.item-standard:hover a.button-standard {
    background: #efb921;
    text-decoration: underline;
}

.item-standard p {
    padding: 10px 20px;
}

.image-standard {
    height: 250px;
}

.image-standard img {
    height: 100%;
    width: 100%;
    filter: grayscale(100%);
}

.content-standard {

}

a.button-standard {
    flex: 1;
    padding: 5px 0;
    color: white;
    font-size: 22px;
    background: goldenrod;
    text-decoration: none;
}